.todos {
  margin-top: 50px;
  overflow-y: auto;
  height: 300px;
  &-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 2px solid #2196F3;
  }
  &-buttons {
    display: flex;
    margin-left: auto;
    i {
      margin-left: 10px;
      transition: .1s;
      &:hover {
        transform: scale(1.2)
      }
    }
  }
}